<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial('_partial/head') %>
  <body>
    <div id="container">
      <div id="header-wrapper"><%- partial('_partial/header') %></div>
      <div id="wrapper">
        <section id="main">
          <%- body %>
        </section>
      </div>
    </div>
  </body>
</html>
