#archive-wrapper
  width: 100%;

  .archive-item
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 1em 0 1em 1.5em
    margin: .5em 0 0 2em
    background-color: $grey-1
    border-radius: 0.3em
    transition: box-shadow .4s ease
    &:hover
      box-shadow: 0 0 0.5em $grey-5

    .archive-item-link-wrapper
      flex: 1 1 auto
      padding-left: 2em

      a
        color: $grey-8
        &:hover
          color: $link-color-hover

    .archive-item-date
      flex: 0 0 auto
      font-size: 0.75em